*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*.header{
    background-image: url("image/header.jpg");
     background-size:contain
  
}*/
.header-logo img{
    width: 273px;
    height: 100px;
}
.header-section{
    display: flex;
    justify-content: space-around;
}
.header-menu ul li{
    display: inline-block;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    color: orangered;
    cursor: pointer;
    
}



.header-menu ul li:hover{
        color: black;
}
.header-menu ul{
    margin-top: 40px;
}
.header{
    background-image: url("image/tt.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size:cover;
    height: 82vh;
   
    
}
.header button{
    margin: 40px;
    padding: 10px;
    /* margin-left: 40px; */
    font-size: 20px;
    font-weight: 400;
    color: black;
    background-color: orangered;
    border: none;
    border-radius: 20px;
}
.header p{
    width: 600px;
    text-align:left;
    font-size: 18px;
    font-weight: 600;
    color: azure ;
    padding-top: 120px;
    padding-left: 40px;
}
.menu, .close-menu{
        display:none;
     }
    /* close  distance change */
     .close-menu img{
        margin-left: 20px;
     }

     .banner-section{
        position: relative;
     }
     .banner-section img{
        height: calc(100vh - 115px);
        object-fit: cover;
        object-position: top;
        width: 100%;
        opacity: 0.8;
     }

     .banner-paragraph{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: 600;
     }
     .button-home{
        margin: 20px 0px;
     }
     .button-home a{
        background-color: #000000;
        color: white;
        text-decoration: unset;
        padding: 10px;
        border-radius: 5px;
     }

